@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh !important;
}

#container {
  min-height: 100vh;
  display: flex;
}

.userText {
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

.discussionText {
  display: flex;
  font-family: "Poppins", sans-serif;
  color: black;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBox {
  background-color: #444c55;
}

.discussionBox {
  background-color: rgb(225, 225, 225);
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 75vw;
  overflow-wrap: break-word;
  height: 95vh;
  overflow-y: scroll;
}

.messageBox {
  resize: none;
}

.messageBox:focus,
.messageBox:active {
  outline: none !important;
  border-color: #ffcb8f !important;
  box-shadow: 0 0 5px #ffcb8f !important;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.btn:focus,
.btn:active,
.btn:hover {
  background-color: #e45437 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.btn {
  background-color: #7fb395 !important;
  outline: none !important;
  border: none !important;
  width: 100px !important;
}

.parent {
  display: flex;
  text-align: center;
}

.child {
  position: absolute;
  align-self: flex-end;
  /* bottom: 0; */
}

.chat-container {
  margin: 40px;
  background: rgba(68, 76, 85, 0.7);
  border-radius: 2em !important;
  backdrop-filter: blur(15px);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(68, 60, 46, 0.3);
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-width: 200px;
  max-width: 600px;
  width: fit-content;
  height: fit-content;
  color: whitesmoke;
  text-align: left;
}

.card-body {
  padding: 20px;
}

@media only screen and (min-height: 1500px) {
  .logoutBtn {
    margin-top: 66rem !important;
  }
}

a {
  width: 90px;
}

#navbar {
  background-color: #444c55;
  text-align: center;
  color: whitesmoke;
  display: table;
  position: absolute;
  vertical-align: middle;
  width: 100%;
  z-index: 1;
  padding-left: 23%;
}

.sendBtn:active,
.sendBtn:focus {
  background-color: #7fb395 !important;
}

.horizontalLine {
  background-color: black;
  opacity: 5%;
  height: 2px;
  width: auto;
}

.activeButton {
  background-color: #e45437 !important;
}

.paddingRight {
  padding-right: 5px;
}


.newMessageButton {
  background-color: #d1a429 !important;
  border-radius: 50%;
  font-size: 10px;
  /* position:absolute;
  left: 16%;
  margin-top: -20px; */
  
}

/* .extraPaddingNewMessage {
  margin-top: -35px !important;
  margin-left: 200px !important;
}
 */

 /* .newMessageContainer {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
   padding-bottom: 20px; 
   margin-bottom: 20px;
  

 } */

 /* .keepButtonCenter {
   flex: 1; 
  display: table-cell; 
   display: flex; 
   justify-content: center;
  align-items: center; 
   align-self: center; 
   padding-bottom: 20px;
   margin-left: 40px; 
  
   flex-direction: row;
 } */

 /* .Otherbutton{
  vertical-align: top;
  align-self: end;
 } */
 /* .keepButtonCenter:last-child > span {margin-left: 500px} */